version: '3'
services:
  apache:
    build: .  # Build from our Dockerfile
    container_name: my_php_apache_server
    ports:
      - "8181:80"  # Map port 8181 on your host to port 80 in the container
    volumes:
      - /docker/apache-server/conf:/var/www/conf
      - /docker/apache-server/html:/var/www/html  # Mount your HTML/PHP files to Apache's document root
      - /docker/apache-server/logs:/var/log/apache2  # Mount Apache logs for easier debugging
      - /media/windows/FunnyVids/best:/var/www/html/randomMeme/memes  # This is where your media (videos/images) are located
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html  # Ensure Apache knows where to look for your files
      - CHEETAHO_API_KEY=your_real_cheetaho_api_key
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-c", "php /var/www/html/update_memes_list.php && apache2-foreground"]
