.ascii-title {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: green;
    margin-bottom: 1px;
    margin-top: 0;
}

.ascii-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 20px;
}

.ascii-links a {
    display: block;
    text-align: center;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: green;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.ascii-links a:hover {
    background-color: green;
    color: white;
}

@media (min-width: 480px) {
  .ascii-links {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 768px) {
  .ascii-title {
      font-size: 2.5em;
  }

  .ascii-links a {
      font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .ascii-title {
      font-size: 3em;
  }

  .ascii-links a {
      font-size: 2em;
  }
}
